* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}
 aside {
  position: fixed;

  border: 1px solid rgb(0,173,238,0.4);
  width: 200px;
}

body > aside > img {
  height: 120px;
  Display: block;
  margin:auto;

}
main {
  
  margin-left: 200px;
}

body > aside > nav > ul > li {
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgb(0,173,238,0.4);
}
body > main > header > img {
  height: 100px;
  margin-bottom: 10px;
}
body > main > section > div {
  width: 33%;
  display: inline-block;
  border: 1px solid rgba(170, 239, 135, 0.8);
}